<div class="grid w-full h-full grid-cols-10 gap-4 grid-rows-10">
  <app-top-menu class="hidden h-24 col-span-10 col-start-1 row-start-1 md:block"></app-top-menu>
  <div class="flex flex-col justify-end col-span-8 col-start-2 row-span-2 row-start-1 text-6xl text-white md:row-start-3 md:col-start-2 md:col-span-3 bottom">
    <span>Adventure Together</span>
  </div>
  <div class="col-span-8 col-start-2 row-start-3 text-white md:row-start-5 bottom md:col-start-2 md:col-span-3">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Placerat id potenti faucibus nec, rhoncus, vulputate vitae. Dictum rutrum ut cras nullam porta id
    dolor arcu, quis.</div>
  <div
    class="col-span-10 col-start-1 row-span-2 bg-black md:row-span-3 row-start-8 md:row-start-8 backdrop-filter backdrop-blur-lg bg-opacity-30">
    <app-bottom-banner class="h-full"></app-bottom-banner>
  </div>
</div>
