<div class="grid w-full h-full grid-cols-10 gap-4">
  <img class="object-fill h-full col-span-3 col-start-2" src="~/assets/moon.png">
  <div class="flex flex-col justify-center max-w-md max-h-full col-span-4 col-start-5 gap-3 px-2 text-white md:px-10">
    <div class="font-bold text-2x1">Exploration</div>
    <div class="font-normal truncate overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat id potenti faucibus nec, rhoncus,
        vulputate
    </div>
  </div>
  <div class="flex flex-col justify-center max-w-md max-h-full col-span-3 col-start-9 gap-3 px-2 text-white md:px-10">
    <div class="font-bold text-2x1">Footprint</div>
    <div class="font-normal truncate md:overflow-clip">Lorem ipsum dolor sit amet, consectetur </div>
  </div>
</div>
